/*Colores*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(/img/fffaaaa.png);
  background-size: cover; }

main .container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "area1 area2" "area3 area4" "area5 area6"; }
  main .container2 .area1 {
    grid-area: area1;
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center; }
    main .container2 .area1 h1 {
      font-size: 5rem;
      color: #222831;
      font-family: 'Acme', sans-serif;
      text-align: center; }
    main .container2 .area1 p {
      font-size: 3rem;
      color: #EEEEEE;
      font-family: 'Acme', sans-serif; }
    main .container2 .area1 h5 {
      font-size: 3.5rem;
      color: #222831;
      font-family: 'Acme', sans-serif; }
  main .container2 .area2 {
    grid-area: area2;
    display: flex;
    justify-content: center;
    align-items: center; }
    main .container2 .area2 .perfilMio {
      width: 500px;
      border: solid #EEEEEE 2px; }
  main .container2 .area3 {
    background-color: #EEEEEE;
    grid-area: area3; }
    main .container2 .area3 .porfolioClas {
      margin-top: 20px;
      font-size: 3rem;
      color: #222831;
      height: 80px;
      text-align: center; }
      main .container2 .area3 .porfolioClas h2 {
        font-size: 3rem; }
    main .container2 .area3 .porfolioConten {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      main .container2 .area3 .porfolioConten .card {
        padding-top: 50px;
        border-radius: 20%;
        background-color: #2f333a;
        border: none; }
        main .container2 .area3 .porfolioConten .card div h5 {
          color: #FFD369; }
  main .container2 .area4 {
    background-color: #EEEEEE;
    grid-area: area4;
    display: flex;
    flex-direction: column; }
    main .container2 .area4 h2 {
      text-align: center;
      margin-top: 20px;
      font-size: 3rem;
      color: #222831; }
    main .container2 .area4 .imagenesSkills .imglogos {
      width: 18rem;
      padding: 20px; }
    main .container2 .area4 .imagenesSkills .caja:hover {
      transform: scale(1.4, 1.4); }
  main .container2 .area5 {
    grid-area: area5;
    background-color: #EEEEEE;
    padding: 40px; }
    main .container2 .area5 h2 {
      font-size: 3rem;
      margin-top: 20px;
      text-align: center;
      color: #222831; }
    main .container2 .area5 h4 {
      font-size: 2rem; }
    main .container2 .area5 p {
      font-size: 1.5rem; }
  main .container2 .area6 {
    grid-area: area6;
    background-color: #EEEEEE; }

/*JQUERRY*/
@media screen and (max-width: 768px) {
  main .container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    padding-top: 50px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "area1 " "area2" "area3 " "area4" "area5 " "area6"; }
    main .container2 .area1 {
      align-items: center;
      height: 500px; }
      main .container2 .area1 h1 {
        font-size: 5rem;
        color: #FFD369;
        font-family: 'Acme', sans-serif;
        text-align: center; }
      main .container2 .area1 p {
        font-size: 2.5rem;
        color: #EEEEEE;
        font-family: 'Acme', sans-serif;
        text-align: center; }
      main .container2 .area1 h5 {
        font-size: 3rem;
        color: #FFD369;
        font-family: 'Acme', sans-serif;
        text-align: center; }
    main .container2 .area2 {
      height: 800px; }
      main .container2 .area2 .perfilMio {
        width: 400px; }
    main .container2 .area3 {
      background-color: #EEEEEE;
      grid-area: area3; }
      main .container2 .area3 .porfolioClas {
        margin-top: 10px;
        font-size: 2rem;
        color: #222831;
        height: 80px; }
        main .container2 .area3 .porfolioClas h2 {
          font-size: 3rem; }
      main .container2 .area3 .porfolioConten {
        display: flex;
        justify-content: space-around;
        align-items: center; }
        main .container2 .area3 .porfolioConten .card {
          width: 15rem;
          background-color: #222831; }
          main .container2 .area3 .porfolioConten .card div h5 {
            color: #FFD369; }
    main .container2 .area4 {
      background-color: #EEEEEE;
      grid-area: area4;
      display: flex;
      flex-direction: column; }
      main .container2 .area4 h2 {
        font-size: 3rem;
        text-align: center;
        margin-top: 20px;
        color: #222831; }
      main .container2 .area4 .imagenesSkills .imglogos {
        width: 12rem;
        align-items: center; }
    main .container2 .area5 {
      grid-area: area5;
      background-color: #EEEEEE; }
      main .container2 .area5 h2 {
        margin-top: 20px;
        text-align: center;
        color: #222831; }
    main .container2 .area6 {
      grid-area: area6;
      background-color: #EEEEEE; } }
