
/*Colores*/
$colorgrafito: #222831 ;
$colorgris: #2f333a ;
$coloramarelo: #FFD369 ;
$colorblanco: #EEEEEE ;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/img/fffaaaa.png);
    background-size: cover;
}


main {
    .container2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "area1 area2"
            "area3 area4"
            "area5 area6";

        .area1 {
            grid-area: area1;
            height: 1200px ;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            h1{
                font-size: 5rem;
                color: $colorgrafito;
                font-family: 'Acme', sans-serif;
                text-align: center;
                
            }
            p{
                font-size: 3rem;
                color: $colorblanco;
                font-family: 'Acme', sans-serif;
            }
            h5{
                font-size: 3.5rem;
                color: $colorgrafito;
                font-family: 'Acme', sans-serif;
            }

        }

        .area2 {
            grid-area: area2;
            display: flex;
            justify-content: center;
            align-items: center;
            .perfilMio{
                width: 500px;
                border: solid $colorblanco 2px;
            }
        }

        .area3 {
            background-color: $colorblanco;
            grid-area: area3;
            .porfolioClas{
                margin-top: 20px;
                font-size: 3rem;
                color: $colorgrafito;
                height: 80px;
                text-align: center;
                h2{
                    font-size: 3rem;
                }
            }
            .porfolioConten{
                display: flex;
                justify-content: space-around;
                align-items: center;
                .card{
                    padding-top: 50px;
                    border-radius: 20%;
                    background-color: #2f333a;
                    border: none;
                    div{
                        h5{
                            color: $coloramarelo;
                        }
                    }
                }
                
            }
        }

        .area4 {
            background-color: $colorblanco;
            grid-area: area4;
            display: flex;
            flex-direction: column;
            h2{
                text-align: center;
                margin-top: 20px;
                font-size: 3rem;
                color: $colorgrafito;
            }
            .imagenesSkills{
                .imglogos{
                    width: 18rem;
                    padding: 20px;
                }
                .caja:hover{
                    transform: scale(1.4,1.4);
                    
                }
            }
        }

        .area5 {
            grid-area: area5;
            background-color: $colorblanco;
            padding: 40px;
            h2{
                font-size: 3rem;
                margin-top: 20px;
                text-align: center;
                color: $colorgrafito;
            }
            h4{
                font-size: 2rem;
            }
            p{
                font-size: 1.5rem;
            }
        }

        .area6 {
            grid-area: area6;
            background-color: $colorblanco;
        }

    }

}

/*JQUERRY*/

@media screen and (max-width: 768px){
    main {
        .container2 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto auto auto ;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            padding-top: 50px;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
                "area1 "
                "area2"
                "area3 "
                "area4"
                "area5 "
                "area6";
                .area1{
                    align-items: center;
                    height: 500px;
                    h1{
                        font-size: 5rem;
                        color: $coloramarelo;
                        font-family: 'Acme', sans-serif;
                        text-align: center;
                    }
                    p{
                        font-size: 2.5rem;
                        color: $colorblanco;
                        font-family: 'Acme', sans-serif;
                        text-align: center;
                    }
                    h5{
                        font-size: 3rem;
                        color: $coloramarelo;
                        font-family: 'Acme', sans-serif;
                        text-align: center;
                    }
                }
                .area2{
                    height: 800px;
                    .perfilMio{
                        width: 400px;
                    }
                }
                .area3 {
                    background-color: $colorblanco;
                    grid-area: area3;
                    .porfolioClas{
                        margin-top: 10px;
                        font-size: 2rem;
                        color: $colorgrafito;
                        height: 80px;
                        h2{
                            font-size: 3rem;
                        }
                    }
                    .porfolioConten{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        .card{
                            width: 15rem;
                            background-color: $colorgrafito;
                            div{
                                h5{
                                    color: $coloramarelo;
                                }
                            }
                        }
                        
                    }
                }
        
                .area4 {
                    background-color: $colorblanco;
                    grid-area: area4;
                    display: flex;
                    flex-direction: column;
                    h2{
                        font-size: 3rem;
                        text-align: center;
                        margin-top: 20px;
                        color: $colorgrafito;
                    }
                    .imagenesSkills{
                        .imglogos{
                            width: 12rem;
                            align-items: center;
                        }
                    }
                }
        
                .area5 {
                    grid-area: area5;
                    background-color: $colorblanco;
                    h2{
                        margin-top: 20px;
                        text-align: center;
                        color: $colorgrafito;
                    }
                }
        
                .area6 {
                    grid-area: area6;
                    background-color: $colorblanco;
                }
            }
        } 
}